@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    margin: 0 130px;
}
.header{
    width: 1440px;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    gap: 40px;
}

.header-content{
    width: 100%;
    height: 466.68px;
    margin: 91px 0;
    display: flex;
    justify-content: space-between;
}
.header-content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
}
.header-content_text h1{
    font-family: "Mulish", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
}
.header-content_text p{
    font-family: "Mulish", sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-top: 26px;
    margin-bottom: 35px;
}
.header-content_text button{
    width: 197.75px;
    height: 49.12px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    border: none;
    transition: all 1s;
}
.header-content_text button:hover{
    background-color: white;
    color: #458FF6;
    border: 1px solid #458FF6;
}

/* header end------------------------ */

.services{
    width: 1440px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
    text-align: center;
}

.services h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;

}

.servives-p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 61px;
    margin-bottom: 36px;
}

.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 380px;
    height: 380px;
    margin-bottom: 40px;
    /* gap: 20px; */
    border: 1px solid darkgrey;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #E7E7E7;
    border-radius: 20px;
    padding: 71px 56px 32px 40px;
}
.card:hover{
    background-color: #458FF6;
    color: white;
    border-radius: 20px;
    transition: all 1s;
}



.card h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    
}

.cardp{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* section more---------------------------------- */

.more{
    width: 1440px;
    margin: 0 auto;
    margin-top: 76px;
}

.more-h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}


.check{
    width: 1440px;
    margin: 0 auto;
}
.check-h2{
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-bottom: 110px;
}


.check-cards{
    display: flex;
    justify-content: space-between;
}
.check-cards_card{
    width: 380px;
    height: 516px;
    border: 1px solid  darkgray;
}
.check-cards_card h3{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-left: 30px;
    margin-right: 100px;
}

.check-cards_card p{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 18px;
}
.check-cards_card a{
    font-family: Mulish;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-left: 30px;
    margin-right: 100px;
}
.but{
    width: 200px;
height: 56.74px;
top: 1785px;
left: 639px;
gap: 0px;
border-radius: 25px;
opacity: 0px;
border: 1px solid #458FF6;
color: #458FF6;
margin-top: 44px;
margin-left: 500px;
}